.App {
  text-align: center;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.small {
  font-size: 10px;
}
.medium {
  font-size: 20px;
}

.large {
  font-size: 30px;
}
